

 body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 0;
    border: 2px solid white;
    width: 300px;
    height: 300px;
    margin: 20px auto;
}

.grid-item {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

/**Some shenanagins :)**/
.grid-item:first-child { 
    border-left: none; 
    border-top: none; 
}
.grid-item:last-child { 
    border-right: none; 
    border-bottom: none; 
}
.grid-item:nth-child(2) { 
    border-left: none; 
    border-top: none;
}
.grid-item:nth-child(3) { 
    border-top: none; 
    border-right: none;
}

.grid-item:nth-child(4) { 
    border-top: none; 
    border-left: none;
    border-right: none;
}
.grid-item:nth-child(5) { 
    border-bottom: none; 
    border-right: none;
}
.grid-item:nth-child(6) { 
    border-bottom: none; 
    border-right: none;
}
.grid-item:nth-child(8) { 
    border-bottom: none; 
    border-right: none;
}
.grid-item:nth-child(7) { 
    border-right: none; 
    border-bottom: none; 
    border-left: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.sections {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.accountInfo {
    width: 25%;
    height: 85vh;
    border: 5px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.leaderboard {
    width: 25%;
    height: 85vh;
    border: 5px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.text {
    margin-top: 20px;
}

#loginForm input, #loginForm button {
    margin: 5px 0;
}

#logoutButton {
    margin-top: 20px;
}
