<!DOCTYPE html>
<html lang="en">
<head>
    <title>TIC-TAC-TOE - AI Game</title>
    <link rel="stylesheet" href="/aiGameStyle.css">
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">
        <div class="title">TIC-TAC-TOE - AI Mode</div>
        <div class="sections">
            <div class="grid">
                <canvas id="gameCanvas" width="600" height="600"></canvas>
            </div>
        </div>
    </div>
<script src="/game.js"></script>

</body>
</html>
