<!DOCTYPE html>
<html lang="en">
<head>
    <title>TIC-TAC-TOE</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
</head>
<body>
<h1>How this page works:</h1>
<p>
    To log in to the game and begin playing, all you need to do is enter any username into the login form, and click the "Login" button. You will be automatically redirected to the account page, where you can see your username, and your current win/loss/cat record. From there, you can click the "New Game" button to begin a game. 
                   </p>
        <p>
            Once a game has started, you will be able to play tic tac toe as normal. For a game to proceed, there must be at least two players. To allow another player to join your game, direct your attention to the game code located at the left side of the screen. If you send that to another player, they can paste it into the Join Game form, and click the "Join Game" button. This will allow them to join your game, and play against you.
        </p>
<p>If you would like to play against an AI instead, just click the 'Play against AI' checkbox before clicking 'New Game'.</p>
</body>
